.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
    background-color: #f5f5f5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-user-select: none;
  }

div.colapsible-body {
  margin: 0px;
  padding-left: 0px;
  flex: auto;
}

#phone-card {
  height: 512px;
}

 #menu-nav {
  color: black;
}

#drop {
  width: 130px;
}

#settings {
  position: absolute;
  left: 13px;
  top: 13px;
  z-index: 50;
}
